<?xml version="1.0" encoding="utf-8" ?>
<appSettings>
    <add key="ServiceAddress" value="http://127.0.0.1:9992/"/>
    <add key="remoteLog" value="false"/>
	
	<add key="registerUrl" value="http://localhost:8082"/>
	<add key="redisUrl" value="127.0.0.1"/>
	<add key="databaseIndex" value="1"/> 
	<add key="isRegsiterToRegiserCenter" value="1"/>
</appSettings>